*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button {
  border-radius: 50%;
  border-width: 5px;
  border-color: #B22222;
  width: 200px;
  height: 200px;
  color: white;
  background-color: red;
  font-size: 50px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #8B0000, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #8B0000, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #8B0000, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFAF0;
  color:white;
  padding: 100px;
}

button:active {
    outline: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

.p1{
  padding-top:30px;
width: 500px;
text-align: center;
color: black;
}

h1{
  margin: 20px;
  padding-bottom: 30px;
  color: black;
  font-size: 50px;
}

a {
  color: red;
}

div{
  padding-top: 50px;
}
h2{
  padding-top: 500px;
  color: black;
}
